/* Added a fixed position for the nav bar */
.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index:1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: permanent-marker-pro,sans-serif;
  font-style: italic;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a:active {
  background-color: #51a4e8;
  
}
/* End Nav Bar*/

.slide-right {
   width: 100%;
   overflow: hidden;
   margin-left: 400px;
   max-width: 500px
}



.slide-right h2 {
   animation: 2s slide-right;
   animation-delay: 2s;

}

@keyframes slide-right {
    from {
       margin-left: -500px;
    }

    to {
       margin-left: 0%;
    }
 }

/* Slideshow container */
.slideshow-container {
  width: 50%;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.text {
  font-family: permanent-marker-pro,sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 2px;
  font-size: 100px;
}

body {
  background-color: #27679c;
}

/*COLLAB PAGE START*/
#studio-menu {
  height: 100px;
  width: auto;
  margin: 0;
  padding: 15px;
  background-color: #0D0D0D;
  color: #B272F2;
  display: flex;

}

.dropdown-content {
  display: none;
}

.dropbtn {
  background-color: #0D0D0D;
  border: none;
  color: #B272F2;
  font-weight: 400;
  font-size: 14px;
  border-radius: 2px;
  margin: 0;
  padding: 10px;
  display: inline-flex;
  justify-content: start;
}

.studio-menu-btn {

  background-color: #0D0D0D;
  border: none;
  color: #B272F2;
  padding: 5px;
   margin: 5px;
}

.dropbtn:hover {
  background-color: #1ED9D9;
  color: #0D0D0D;
}

.menu-project-info {
  display: inline-flex;
}

#studio-menu-btns {
  display: inline-flex;
  justify-content: end;
}


.collaborator-profile {
  display: none;
}
/*COLLAB PAGE END*/
/*=======*/
#myInput {
  background-position: 10px 12px; 
  background-repeat: no-repeat; 
  width: 25%;
  font-size: 16px; /
  padding: 12px 20px 12px 40px; 
  border: 1px solid #ddd; 
  margin-bottom: 12px;
  
}

#myTable {
  border-collapse: collapse; 
  width: 35%; 
  border: 1px solid #ddd; 
  font-size: 18px; 
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  
}

.search-bar {
  text-align: center;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 5px;
  color: #1ce783; 
  font-family: permanent-marker-pro,sans-serif;
  font-weight: 400;
  font-style: normal;
}


#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: black;
}

#myTable td {
  color: #1ce783;
  font-family: permanent-marker-pro,sans-serif;
  font-weight: 400;
  font-style: normal;

  
}


.notes-index-header {
  color: yellow;
  font-family: permanent-marker-pro,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin-bottom: 0;
  margin-top: -30px;
  text-align: center;
}


/*Comment Area*/
.comment-box {
  text-align: center;
  
}
#comment-box, #post {
    border: none;
    border-radius: 5px;
}
#post:hover{
    background-color: deeppink;
}
#unordered {
  list-style: none;
}
.unordered-list {
  background-color: yellow;
  
}


/* Chords CSS Below here */

#chordBody{
  width: 1080px;
  margin: 0 auto;
}

/* top &middle &bottom row properties */
.boxContainers{
  margin: 0 0 50px 0;
  display: flex;
  flex-wrap:wrap;
  height: 75px;
  padding: 10px;
  justify-content: right;
}

/* individual box properties */
#topRow, #midRow, #bottRow{
  margin: 20px 15px 10px 50px;
  width: 60px;
  height: 25px;
  border: 3px solid #ddd;
  border-radius: 5px;
  text-align: center;
  padding: 15px 0;
  background-color: mintcream;
}

/* image propeties */
#chordContainers {
  height: 440px;
  background-image: url("./images/rowBackground.jpg");
  border-radius: 15px;
  border: 2px solid #ddd;
}

#midRow{
  position:relative; right:45px;
}

#bottRow{
  position:relative; right:185px;
}

#bottRow:nth-child(1) {
  position:relative; right:300px;
}



/* root select and instruction button container */
#root{
  border: 2px solid #ddd;
  background-color: #333;
  height: 25px;
  padding: 5px;
  border-radius: 10px;
  margin: 0 0 5px 0;
}
/* select Label */
#rootLabel{
  background-color: #444444;
  border-radius: 5px;
  padding: 2px;
  border:1px solid mintcream;
  color: mintcream;
}
/* select box */
#rootSelect{
  width: 55px;
  }

/* instruction  and close buttons */
.howTo{
  background-color: #444444;
  border-radius: 5px;
  padding: 2px;
  border:1px solid mintcream;
  color: mintcream;
  margin: 0 0 0 805px;
}



#closeHowTo{
  background-color: #444444;
  border-radius: 5px;
  padding: 2px;
  border:1px solid mintcream;
  color: mintcream;

}

/*chord how to modal*/
#chordInstruct {
  background-color: #ddd;
  width: 1080px;
  height: 280px;
  text-align: center;
  border-radius: 15px;
  font-family: permanent-marker-pro,sans-serif;
  display: none;
  border:2px solid #333;
  padding: 5px;
}

